{% extends "layout.html" %}
<style>
    .card {
        background-image: url('{{ url_for('static', filename='Charity.png') }}');
        background-size: cover;
        background-repeat: no-repeat;
        color: white; /* Adjust text color for visibility */
    }
    
    .card::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
        z-index: 0;
    }
    
    .card > * {
        position: relative;
        z-index: 1;
    }
</style>
{% block title %}لوحة التحكم{% endblock %}

{% block main %}
<div class="card shadow-lg p-3 mb-5 bg-white rounded card">

<h1>مرحباً بك في لوحة التحكم</h1>
<p>أهلاً وسهلاً بك في لوحة التحكم الخاصة بك. يمكنك إدارة جميع المهام المتعلقة بالمستفيدين والموارد من هنا.</p>

<div>
    <p>دورك الحالي هو: <strong>{{ session["role"] }}</strong></p>
</div>
</div>
{% endblock %}
